@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
  display: inline-flex;
  align-items: center;
}
.discount-text{
  font-size: 12px;
  font-weight: 600;
  padding: 3px 5px;
  background: #FFEB84;
}
.dengar{
  color: #F5404B;
  font-weight: 600;
  font-size: 14px;
}
.space{
  height: 25px;
  display: block;
}

/* HOME PAGE CSS START HERE */
/* header section css start here */
header{
  box-shadow: 0 2px 6px -6px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #FFD5C3;
  padding: 0 100px 0;
}

.top-head-div{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-head-div .top-head-first,
.top-head-div .top-head-last{
  display: flex;
  gap: 10px;
  width: 312px;
  align-items: center;
}
.top-head-div .top-head-first .top-head-home{
  font-size: 28px;
}
.top-head-div .top-head-first .top-head-seller,
.about-demo-seller{
  display: flex;
  flex-direction: column;
}
.top-head-div .top-head-first .top-head-seller .seller-t-1{
  font-weight: 300;
  font-size: 11px;
  line-height: 10px;
}
.top-head-div .top-head-first .top-head-seller .seller-t-2{
  color: #ED6A3C;
  font-size: 18px;
  line-height: 15px;
  font-weight: 600;
}

.top-head-div .top-head-middle,
.top-head-middle{
  height: 40px;
}

.top-head-last ul.top-head-last-ul{
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 16px;
}
.top-head-last ul.top-head-last-ul li{
  display: flex;
  align-items: center;
}
.top-head-last ul.top-head-last-ul li:nth-child(1){
  text-decoration: underline;
  font-weight: 300;
}
.top-head-last ul.top-head-last-ul li:nth-child(2) .top-last-bag{
  font-size: 24px;
}
.top-head-last ul.top-head-last-ul li .login-rounded-button{
  height: 40px;
  padding: 5px 22px;
  background: #ed613c;
  border-radius: 20px;
  margin: auto !important;
  color: #f6f6f6;
  text-decoration: none;
  font-weight: 600;
}
.top-head-last ul.top-head-last-ul li .login-rounded-button .lock{
  margin-right: 5px;
}

.bottom-head-div{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bottom-head-div ul.nav-links{
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 300;
}
.bottom-head-div ul.nav-links li{
  padding-bottom: 5px;
}
.bottom-head-div ul.nav-links li.active{
  font-weight: 600;
  border-bottom: 4px solid #ed613c;
}
/* header section css end here */

/* main section css start here */
main{
  width: 92%;
  max-width: 1200px;
  margin: 30px auto;
  height: auto;
  min-height: calc(100vh - 190px);
}
/* css for homepage title & searchbox */
.main-top-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-top-title,
.page-title{
  font-size: 34px;
  font-weight: 700;
}
.main-top-title span,
.page-title span{
  font-weight: 200;
}
.main-top-div .main-top-searchbox{
  width: 336px;
  height: 42px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.main-top-div .main-top-searchbox .top-search-icon{
  margin-left: 8px;
  font-size: 24px;
  margin-right: 8px;
  padding: 2px;
}
.main-top-div .main-top-searchbox .top-search-input{
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  border: none;
  outline: none;
  color: #d9d9d9;
}
/* css for filter section in homepage */
.main-down-div{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.main-down-div .main-filter-sec{
  width: 311px;
  height: max-content;
  border: 1px solid #FFD5C3;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  padding: 0 25px 25px;
}
.main-down-div .main-filter-sec .filter-div{
  padding: 18px 0;
  border-bottom: 1px solid #d9d9d9;
}
.main-down-div .main-filter-sec .filter-div:nth-child(3){
  border: none !important;
}
.filter-div .filter-title{
  font-size: 15px;
  color: #ed613c;
  font-weight: 600;
  margin-bottom: 10px;
}
.filter-div .label-sec div.filter-item{
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border: 2px solid #ed613c;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}
input[type="radio"]{
  border-radius: 50%;
}
input[type="checkbox"]:after{
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: none;
  color: #fff;
}
input[type="checkbox"]:checked:after{
  display: block;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked{
  background: #ed613c;
  border-color: #000;
}
div.filter-item label{
  cursor: pointer;
}
.main-filter-sec .apply-filter{
  width: 100%;
  height: 47px;
  background: #ed613c;
  border: none;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* css for product display section in homepage */
.main-down-div .main-p-display{
  width: 810px;
}
.main-down-div .main-p-display .p-display-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.product-card{
  width: 260px;
  border: 1px solid #FFD5C3;
  font-family: "inter", sans-serif;
}
.product-card .product-image{
  width: 248px;
  height: 230px;
  margin: 5px;
}
.product-card .product-details{
  margin: 0 15px;
}
.product-card .product-title{
  font-size: 18px;
  font-weight: 500;
}
.product-card .product-seller{
  font-size: 12px;
  line-height: 10px;
  color: #646363;
}
.product-card .product-p-c{
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px 0;
}
.product-card .product-p-c .product-price{
  font-size: 22px;
  font-weight: 700;
  color: #ed613c;
}
.product-card .product-p-c .product-add-cart{
  width: 70px;
  height: 31px;
  cursor: pointer;
  background: none;
  border: 3px solid #ed613c;
  color: #ed613c;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}
.main-p-display .p-add-text{
  margin: 25px 0;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  color: #ed613c;
  cursor: pointer;
}
/* main section css end here */

/* footer section css start here */
footer{
  height: 60px;
  background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-size: 14px;
  color: #4d4d4d;
}
footer p a{
  color: #ed613c;
}

/* footer section css end here */
/* HOME PAGE CSS END HERE */

/* PRODUCT PAGE CSS START HERE */

#product-main{
  max-width: 1100px;
}
.product-top-div{
  display: flex;
  gap: 25px;
}

.product-top-div .product-small-img{
  width: 50px;
}
.product-top-div .product-small-img img{
  width: 50px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}


.product-top-div .product-thumb-img img{
  width: 390px;
  height: 520px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #FFD5C3;
  border-radius: 3px;
}
.product-top-div .product-details-sec{
  width: 610px;
  height: 520px;
  border: 1px solid #F4F4F4;
  padding: 21px 32px 32px;
  font-family: "inter", sans-serif;
}
.product-details-sec .details-sec-title{
  font-weight: 400;
  font-size: 30px;
}
.product-details-sec .details-sec-seller{
  font-weight: 500;
  font-size: 15px;
  color: #ED6A3C;
  line-height: 13px;
}
.product-details-sec .details-sec-desc{
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0 20px;
}
.product-details-sec .details-sec-price{
  font-size: 38px;
  font-family: 'Poppins', sans-serif;
}
.details-sec-price .disc-price{
  font-weight: 700;
  margin-right: 10px;
}
.details-sec-price .real-price{
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: line-through;
}
.product-details-sec .details-rating{
  font-size: 15px;  
  line-height: 100%;
  margin: 0 0 10px;
}
.details-rating .rating-stars{
  color: #d9d9d9;
  display: inline-block;
  font-size: 18px;
}
.details-rating .rating-stars .active{
  color: #FFEB84;
}
.details-rating .rating-text{
  font-weight: 500;
  margin-left: 5px;
  text-align: center;
}
.product-details-sec .payment-compe-tab{
  margin-top: 10px;
}
.product-details-sec .payment-compe-tab,
.product-details-sec .button-tab{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.p-c-t-text{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #646363;
  margin-bottom: 2px;
}
.payment-compe-tab .pay-meth-logo img{
  height: 35px;
}
.payment-compe-tab .link-compare{
  font-weight: 500px;
  font-size: 15px;
  color: #ED6A3C;
  text-decoration: underline;
}
.button-tab button{
  height: 54px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.button-tab .favorite{
  width: 54px;
  background: none;
  color: #E21D1D;
  border: 2px solid #E21D1D;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-tab .add-to-cart{
  width: 470px;
  border: none;
  background: #ed613c;
  color: #fff;
  font-size: 18px;
}
.similar-item-div{
  margin: 30px 0 50px;
}
.similar-item-div .display-similar{
  display: flex;
  gap: 16px;
  margin-top: 15px;
  overflow-x: auto;
}
.similar-item-div .display-similar::-webkit-scrollbar{
    display: none;
}

/* Product page CSS end here */

/* Other Header CSS Strat here */
#other-head{
  border: none;
  font-weight: 300;
}
#other-head .top-head-div .top-head-last{
  width: auto;
}

/* Other Header CSS End here */

/* Login CSS start here */
main .login-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .login-modal{
  /* height: 455px; */
  width: 372px;
  border: 1px solid #FFD5C4;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 22px 26px 18px;
}
.login-modal .login-title{
  margin-bottom: 30px;
}
.login-modal .login-title span{
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
.login-modal .login-title span.active{
  font-weight: 600;
  padding-bottom: 3px;
  border-bottom: 5px solid #ed613c;
}

.login-modal .login-form-div div,
.login-modal .login-form-div button{
  width: 100%;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 22px;
}
.login-modal .login-form-div form .login-inputbox{
  border: 1px solid #D9D9D9;
  display: flex;
  height: 40px;
  align-items: center;
  position: relative;
}
.login-form-div form .login-inputbox label{
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  padding: 3px;
  background: #fff;
  top: -12px;
  left: 5px;
}
.login-form-div form .login-inputbox svg{
  margin-left: 8px;
  font-size: 24px;
  margin-right: 8px;
  padding: 2px;
}
.login-form-div form .login-inputbox input{
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  border: none;
  outline: none;
  padding: 0 8px;
}
.login-form-div form button{
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background: #ed613c;
}
.login-form-div .or-sec{
  position: relative;
}
.login-form-div .or-sec span{
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  padding: 3px;
  background: #fff;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.login-form-div .google-butt{
  margin-top: 24px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: none !important;
}
.login-form-div .google-butt span{
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}
/* Login CSS end here */

/* Seller Login css start here */
/* .seller-login-main{
  height: 850px;
  background-color: #000;
}
.seller-login-main .seller-login-ban{
  width: 353px;
  height: 100%;
  position: relative;
}
.seller-login-main .seller-login-ban img{
  width: 353px;
  height: 100%;
  object-fit: cover;  
  object-position: center;
}
.seller-login-main .seller-login-ban div{
  position: absolute;
}
.seller-login-ban .about-demo-seller{
  top: 25px;
  left: 25px;
}
.seller-login-ban .view-more-butt{
  bottom: 25px;
  right: 25px;
  /* height: 40px; 
  padding: 7px 22px;
  background: #ed613c;
  border-radius: 20px;
  margin: auto !important;
  color: #f6f6f6;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
} */

/* {
  font-weight: 300;
  font-size: 11px;
  line-height: 10px;
}
{
  color: #ED6A3C;
  font-size: 18px;
  line-height: 15px;
  font-weight: 600;
} */
/* Seller Login css end here */

/* Cart page CSS start here */

.cart-page-title span{
  font-weight: 100;
}

.all-cart-items{
  margin-top: 20px;
  display: grid;
  gap: 15px;
}

.cart-item{
  display: flex;
  border: 1px solid #FFD5C3;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
  padding: 7px;
  height: 110px;
}
.cart-item > div{
  flex-basis: 100px;
}
.cart-item > div:nth-child(2){
  flex-basis: 100%;
  padding: 0 0 0 10px;
}
.cart-item img{
  height: 100%;
  margin: auto 0;
}
.cart-item .cart-item-detail h3{
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  font-family: "inter", sans-serif;
}
.cart-item .cart-item-detail .sell-by{
  font-size: 14px;
  line-height: 15px;
  color: #ED6A3C;
  font-family: "inter", sans-serif;
}
.cart-item-value{
  font-size: 28px;
  font-weight: bold;
  margin-top: 7px;
}
.cart-item-value span:nth-child(2){
  color: #b3b3b3;
  text-decoration: line-through;
}
.cart-item .cart-item-extra{
  justify-content: flex-end;
}
.how-many{
  border: 1px solid #FFD5C3;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  text-align: center;
  padding: 5px;
}
.how-many span{
  padding: 5px;
}
.how-many span:nth-child(2){
  color: #ed613c;
  font-weight: 600;
}

.cart-delete{
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: red;
}


/* Cart page CSS end here */